<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="Description" content="Enter your description here" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <title>Results </title>

    <style>
        body{
            background: #000046;  /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
            color: whitesmoke;
        }
        li{
            color: wheat;
            font-size: 1.5rem;
        }
        a{
            color: white;
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="container">
        <h1 class="py-5 mt-5 text-center display-4">Results page</h1>
    <ol>
        <% results["Search"].forEach(function(movie){ %>
            <li class="text=center">
                <%= movie["Title"] %> - <strong> <%= movie.Year %> </strong>
            </li>
            <% }) %>
    </ol>
   <a class="pb-5 justify-content-center" href="/"> <button class="btn btn-lg btn-info w-75">Search again</button></a>
    
    </div>

    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>