<%- include("partials/header") %>
<h1>Landing page</h1>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus, exercitationem reprehenderit atque velit optio, modi eligendi similique fuga laboriosam ullam amet ratione eum ipsam omnis delectus ut quaerat. Ab magni fuga sed repellat corporis delectus deserunt repudiandae. Excepturi itaque aut, impedit earum, rerum modi consectetur, ipsa accusantium minima placeat ipsum.</p>

<a href="/campgrounds">All campgrounds</a>
<%- include("partials/footer") %>